{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="announcement-bar">
      <div class="AnnouncementBar">
        <div class="AnnouncementBar__Wrapper">
          <div class="glide glide__announcement">
            <div class="glide__track" data-glide-el="track" style="height: auto;">
              <ul class="glide__slides">
        
                {% for block in section.blocks %}
                  {% if block.type == 'announcement' %}
                  <p class="AnnouncementBar__Content Heading glide__slide">
                    {%- if block.settings.link -%}
                      <a href="{{ block.settings.link }}">{{ block.settings.announcement_content | escape }}</a>
                    {%- else -%}
                      {{ block.settings.announcement_content | escape }}
                    {%- endif -%}
                  </p>
                  {% endif %}
                {% endfor %}
   
              </ul>
            </div>
          </div>
     
        </div>
      </div>
    </section>

    <style>
      #section-{{ section.id }} {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
      }
  
    </style>
{% comment %} 
    <script>
      document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-announcement').offsetHeight + 'px');
    </script> {% endcomment %}
  {%- endunless -%}
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_bar",
        "label": "Enable bar",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": false
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#ffffff"
      }
    ],
     "blocks": [
      {
        "name": "Announcement",
        "type": "announcement",
        "settings": [
          {
            "type": "text",
            "id": "announcement_content",
            "label": "Announcement Content" 
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}