<section class="fd-collection__bestsellers ">
  <div class="fd-content-block fd-container-width">
    <h3>{{ section.settings.title }}</h3>
    <div class="glide glide-bestsellers">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for block in section.blocks %}
            {% if block.type == 'bestseller' %}


              {%- if settings.product_show_secondary_image -%}
                {%- assign has_alternate_image = true -%}
              {%- else -%}
                {%- assign has_alternate_image = false -%}
              {%- endif -%}
      
              <li class="glide__slide">
                <a href="/products/{{block.settings.bestseller_product.handle}}">
      
                  {% comment %} <figure class="fd-product-image__wrapper">
                    <img src="{{ block.settings.bestseller_product.featured_image.src  | img_url: 'master' }}" alt="product image">
                  </figure> {% endcomment %}

                  <div class="fd-product-image__alternate">
                    {%- comment -%}
                    IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the spinner (Image__Loader element) is
                    displayed based on the immediately previously shown image.
                    {%- endcomment -%}

                    {%- if  block.settings.bestseller_product.media[1] != blank -%}
                      {%- assign has_alternate_image = true -%}
                    {%- else -%}
                      {%- assign has_alternate_image = false -%}
                    {%- endif -%}

                    <figure class="fd-product-image__wrapper ">

                    {%- if has_alternate_image -%}
                      <img src="{{ block.settings.bestseller_product.media[1]  | img_url: 'master' }}" loading="lazy" alt="product image" class="fd-product-image__image fd-product-image__image-hover">
                    {% else %}  
                      <img src="{{ block.settings.bestseller_product.featured_image.src   | img_url: 'master' }}" loading="lazy" alt="product image" class="fd-product-image__image fd-product-image__image-hover">
                    {%- endif -%}
                      <img src="{{ block.settings.bestseller_product.featured_image.src  | img_url: 'master' }}" loading="lazy" alt="product image" class="fd-product-image__image ">

                    </figure>

                  </div>

                  {% assign colorTag = false %}

                  {% if block.settings.bestseller_product.metafields.my_fields.color_tag.value == "I’M NEW" %}
                    {% assign colorTag = "blu" %}
                  {% elsif block.settings.bestseller_product.metafields.my_fields.color_tag.value == "BESTSELLER"  %}  
                    {% assign colorTag = "red" %}
                  {% elsif block.settings.bestseller_product.metafields.my_fields.color_tag.value == "EXCLUSIVE"  %}  
                    {% assign colorTag = "yellow" %}
                  {% else %}
                    {% assign colorTag = false %}
                  {% endif %}
        

                  <div class="fd-collection__product-info">
                   
                    <p class="metafield {% if colorTag == 'yellow' %} metafield-yellow {% endif %} {% if colorTag == 'red' %} metafield-red {% endif %} {% if colorTag == 'blu' %} metafield-blu {% endif %}"> {{ block.settings.bestseller_product.metafields.my_fields.color_tag.value }}</p>
                   
                    <p class="title">{{ block.settings.bestseller_product.title }}</p>
                    {% comment %}Start automatically added Judge.me widget{% endcomment %}
                      {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: block.settings.bestseller_product %}
                    {% comment %}End automatically added Judge.me widget{% endcomment %}
                    <p class="price">{{ block.settings.bestseller_product.price | money_without_trailing_zeros  }}</p>
                  </div>

                </a>

                <form method="post" action="/cart/add" class="fd-add-to-cart__form">

                  <input type="hidden" name="id" value="{{ block.settings.bestseller_product.variants.first.id }}" />
                
                  <input  type="submit" data-id="{{ block.settings.bestseller_product.variants.first.id }}" value="Add to cart" class="btn fd-add-to-cart" />
                
                </form>

                <div class="fd-add-to-cart__modal" id="fdAddToModal" >
                   
                </div>

                </li>
            
            {% endif %}
          {% endfor %}
          </ul>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
        {% assign bullet = 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'bestseller' %}
            <button class="glide__bullet" data-glide-dir="={{ bullet }}"></button>
            {% assign bullet = bullet | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>


      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
            <g id="Group_69" data-name="Group 69" transform="translate(730 644) rotate(180)">
              <g id="Rectangle_89" data-name="Rectangle 89" transform="translate(672 586)" fill="#fff" stroke="#fff" stroke-width="1">
                <rect width="58" height="58" rx="29" stroke="none"/>
                <rect x="0.5" y="0.5" width="57" height="57" rx="28.5" fill="none"/>
              </g>
              <path id="Path_113" data-name="Path 113" d="M0,0,5.679,5.476,0,10.472" transform="translate(698.161 609.748)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="2"/>
            </g>
          </svg>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
            <g id="Group_68" data-name="Group 68" transform="translate(-672 -586)">
              <g id="Rectangle_89" data-name="Rectangle 89" transform="translate(672 586)" fill="#fff" stroke="#fff" stroke-width="1">
                <rect width="58" height="58" rx="29" stroke="none"/>
                <rect x="0.5" y="0.5" width="57" height="57" rx="28.5" fill="none"/>
              </g>
              <path id="Path_113" data-name="Path 113" d="M0,0,5.679,5.476,0,10.472" transform="translate(698.161 609.748)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="2"/>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Foundry Bestsellers",
    "class": "fd-section__bestsellers",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Header",
        "default": "Bestsellers"
      }
    ],
    "blocks": [
      {
        "type": "bestseller",
        "name": "Bestseller",
        "settings": [
          {
            "type": "product",
            "id": "bestseller_product",
            "label": "Bestseller product" 
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Bestsellers",
        "name": "Foundry Bestsellers",
        "settings": {},
        "blocks": [
          {
            "type": "bestseller"
          }
        ]
      }
    ]
  }
{% endschema %}