<section class="fd-backgroundText" id="section-{{ section.id }}" >
  <div class="fd-content-block fd-container-width">
    <div class="section-{{ section.id }} fd-backgroundText__inner">
      <h3>{{ section.settings.title }}</h3>
      <div class="subheading">{{ section.settings.subheading }}</div>
      <div class="content">{{ section.settings.content }}</div>
      <a href="{{ section.settings.button_link }}" class="fd-btn btn">{{ section.settings.button_label }}</a>
    </div>
  </div>
</section>

<style>
  .section-{{ section.id }},
  .section-{{ section.id }} p, .section-{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  .section-{{ section.id }} {
    background-color: {{ section.settings.background }};
  }
</style>


{% schema %}
  {
    "name": "Background with Text",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background Color",
        "default": "#F5F9F9"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#0A1F2A"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "NAOS"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "Background with Text",
        "settings": {}
      }
    ]
  }
{% endschema %}