{%- capture section_settings -%}
  {
    "enableHistoryState": true,
    "templateSuffix": {{ product.template_suffix | json }},
    "showInventoryQuantity": {{ section.settings.show_inventory_quantity | json }},
    "showSku": {{ section.settings.show_sku | json }},
    "stackProductImages": {{ section.settings.stack_images | json }},
    "showThumbnails": {{ section.settings.show_thumbnails | json }},
    "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
    "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
    "showPriceInButton": {{ section.settings.show_price_in_button | json }},
    "enableImageZoom": {{ section.settings.enable_image_zoom | json }},
    "showPaymentButton": {{ section.settings.show_payment_button | json }},
    "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
  }
{%- endcapture -%}


{% assign colorTag = false %}

{% if product.metafields.my_fields.color_tag.value == "I’M NEW" %}
  {% assign colorTag = "blu" %}
{% elsif product.metafields.my_fields.color_tag.value == "BESTSELLER"  %}  
  {% assign colorTag = "red" %}
{% elsif product.metafields.my_fields.color_tag.value == "EXCLUSIVE"  %}  
  {% assign colorTag = "yellow" %}
{% endif %}



<section class="fd-product__breadcrumb  fd-content-block-product fd-container-width">
  {% include 'b2' %}
</section>

<section class="fd-product-inner" data-section-id="{{ section.id }}" data-section-type="product" data-section-settings='{{ section_settings }}'>
  <div class="fd-product-inner__wrapper fd-content-block-product fd-container-width">
 

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT GALLERY
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {% capture fdGallery %}
        
      {%- for media in product.media -%}

        <li class="glide__slide"> 
          <figure class="fd-product-media" >
            <img src="{{ media | img_url: '411X570' }}" alt="">
          </figure>
        </li>
        
      {%- endfor -%}
      
    {% endcapture %}

    {% capture fdThumb %}
        
      {%- for media in product.media -%}

      <button class="glide__bullet" style='background-image: url({{ media | img_url: "70X90" }}); width:70px; height:90px' data-glide-dir="= {{ forloop.index0 }}"></button>
        
      {%- endfor -%}
      
    {% endcapture %}


    <div class="fd-product-inner__gallery">

      <!-- <div class="fd-overlay-badge" >
        {% assign imageBadge = product.metafields.foundry_digital.badge_image %}

        <img src="{{ imageBadge  | img_url: "77X"  }}" alt="product badge awward">

      </div> -->

      
      <div class="glide glide-product">
        <div class="glide-product__inner">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
    
              {{ fdGallery }}
    
            </ul>
          </div>  


          <div class="glide__bullets" data-glide-el="controls[nav]">
          
            {{ fdThumb }}
           
          </div>
        </div>
       

        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
              <g id="Group_69" data-name="Group 69" transform="translate(730 644) rotate(180)">
                <g id="Rectangle_89" data-name="Rectangle 89" transform="translate(672 586)" fill="transparent" stroke="transparent" stroke-width="1">
                  <rect width="58" height="58" rx="29" stroke="none"/>
                  <rect x="0.5" y="0.5" width="57" height="57" rx="28.5" fill="none"/>
                </g>
                <path id="Path_113" data-name="Path 113" d="M0,0,5.679,5.476,0,10.472" transform="translate(698.161 609.748)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="2"/>
              </g>
            </svg>
            
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
              <g id="Group_68" data-name="Group 68" transform="translate(-672 -586)">
                <g id="Rectangle_89" data-name="Rectangle 89" transform="translate(672 586)" fill="transparent" stroke="transparent" stroke-width="1">
                  <rect width="58" height="58" rx="29" stroke="none"/>
                  <rect x="0.5" y="0.5" width="57" height="57" rx="28.5" fill="none"/>
                </g>
                <path id="Path_113" data-name="Path 113" d="M0,0,5.679,5.476,0,10.472" transform="translate(698.161 609.748)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="2"/>
              </g>
            </svg>
            
          </button>
        </div>

    
      </div>

    
  
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT INFO
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="fd-product-inner__info">
      {% if colorTag != false %}
      <p class="metafield {% if colorTag == 'yellow' %} metafield-yellow {% endif %} {% if colorTag == 'red' %} metafield-red {% endif %} {% if colorTag == 'blu' %} metafield-blu {% endif %}"> {{ product.metafields.my_fields.color_tag.value }}</p>
      {% endif %}
      <h1> {{ product.title }} </h1>
      <p class="fd-product__subtitle">{{ product.metafields.descriptors.subtitle.value }}</p>
      {% comment %}Start automatically added Judge.me widget{% endcomment %}
      {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
      {% comment %}End automatically added Judge.me widget{% endcomment %}

      <div class="fd-product__price">
        <p class="price">{{ product.price | money_without_trailing_zeros }}</p>
        {% if product.metafields.my_fields.free_gift_on_checkout.value == true %}
        <p class="free-gift">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16.027" height="17.515" viewBox="0 0 16.027 17.515">
              <g id="Group_169" data-name="Group 169" transform="translate(-1057.07 -3214.67)">
                <g id="Group_56" data-name="Group 56" transform="translate(1057.82 3215.434)">
                  <rect id="Rectangle_59" data-name="Rectangle 59" width="14.527" height="2.817" transform="translate(0 4.07)" fill="none" stroke="#e87f6b" stroke-miterlimit="10" stroke-width="1.5"/>
                  <rect id="Rectangle_60" data-name="Rectangle 60" width="12.723" height="9.113" transform="translate(0.903 6.887)" fill="none" stroke="#e87f6b" stroke-miterlimit="10" stroke-width="1.5"/>
                  <line id="Line_1" data-name="Line 1" y2="11.93" transform="translate(7.264 4.07)" fill="none" stroke="#e87f6b" stroke-miterlimit="10" stroke-width="1.5"/>
                  <path id="Path_97" data-name="Path 97" d="M1210.159,301.991a2.725,2.725,0,0,1,1.876-1.575,1.213,1.213,0,0,1,1.322.546,1.491,1.491,0,0,1-.4,1.475,5.806,5.806,0,0,1-2.569,1.815c-.658.234-.851.257-.733-.484A6.327,6.327,0,0,1,1210.159,301.991Z" transform="translate(-1202.36 -300.394)" fill="none" stroke="#e87f6b" stroke-miterlimit="10" stroke-width="1.5"/>
                  <path id="Path_98" data-name="Path 98" d="M1184.467,312.7a2.23,2.23,0,0,1-1.51-1.319.992.992,0,0,1,.275-1.138,1.22,1.22,0,0,1,1.243.137,4.752,4.752,0,0,1,1.79,1.849c.272.5.315.656-.3.654A5.179,5.179,0,0,1,1184.467,312.7Z" transform="translate(-1179.191 -308.826)" fill="none" stroke="#e87f6b" stroke-miterlimit="10" stroke-width="1.5"/>
                </g>
              </g>
            </svg>            
          </span>
          FREE GIFT ON CHECKOUT!
        </p>
        {% endif %}
      </div>
      <div class="fd-product__benefits">
        <h3>Bundle benefits:</h3>
        <ul class="fd-product__benefits-wrapper">
          
          {% for ingredient in product.metafields.accentuate.single_benefit %} 
            <li class="fd-product__benefits-item">
              <span>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                  <style type="text/css">
                    .st5{fill:#FFFFFF;}
                    .st6{fill:none;stroke:#E67E6B;stroke-width:2.001;stroke-linecap:round;stroke-miterlimit:4.0021;}
                  </style>
                  <g id="Group_239" transform="translate(-775.459 -533)">
                    <rect id="Rectangle_220" x="775.46" y="533" class="st5" width="16" height="16"/>
                    <path id="Path_178" class="st6" d="M776.98,540.32l4.3,4.36l8.66-7.35"/>
                  </g>
                </svg>                        
              </span>
              {{ ingredient }}
            </li>
          {% endfor %}

        </ul>
      </div>

      {%- render 'product-form', product: product -%}

      <div class="fd-product__shipping">
        <p><span>FREE</span> standard Shipping on orders over £50. Learn more about shipping <a target="_blank" rel=”noopener noreferrer” href="/pages/delivery">here</a></p>
      </div>

      <div class="fd-product__accordion">
        <dl class="js-badger-accordion">
          <dt>
            <button class="js-badger-accordion-header">
                Description
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                    <g id="Group_233" data-name="Group 233" transform="translate(-392 -131)">
                      <rect id="Rectangle_213" data-name="Rectangle 213" width="17" height="17" transform="translate(392 131)" fill="#fff"/>
                      <g id="Group_147" data-name="Group 147" transform="translate(394.915 133.66)">
                        <path id="Path_126" data-name="Path 126" d="M12937.058,930.461v11.856" transform="translate(-12931.13 -930.461)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                        <path id="Path_127" data-name="Path 127" d="M0,0V11.856" transform="translate(11.856 5.928) rotate(90)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                      </g>
                    </g>
                  </svg>
                </span>
            </button>
          </dt>
          <dd class="badger-accordion__panel js-badger-accordion-panel">
              <div class="js-badger-accordion-panel-inner">
                  {{ product.metafields.my_fields.long_description.value }}
              </div>
          </dd>

          <dt>
            <button class="js-badger-accordion-header">
                Indications
                <span>
                 <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                    <g id="Group_233" data-name="Group 233" transform="translate(-392 -131)">
                      <rect id="Rectangle_213" data-name="Rectangle 213" width="17" height="17" transform="translate(392 131)" fill="#fff"/>
                      <g id="Group_147" data-name="Group 147" transform="translate(394.915 133.66)">
                        <path id="Path_126" data-name="Path 126" d="M12937.058,930.461v11.856" transform="translate(-12931.13 -930.461)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                        <path id="Path_127" data-name="Path 127" d="M0,0V11.856" transform="translate(11.856 5.928) rotate(90)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                      </g>
                    </g>
                  </svg>
                </span>
            </button>
          </dt>
          <dd class="badger-accordion__panel js-badger-accordion-panel">
              <div class="js-badger-accordion-panel-inner">
                {{ product.metafields.my_fields.indications.value }}
              </div>
          </dd>
          <dt>
              <button class="js-badger-accordion-header">
                  Shipping & returns
                  <span>
                   <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                      <g id="Group_233" data-name="Group 233" transform="translate(-392 -131)">
                        <rect id="Rectangle_213" data-name="Rectangle 213" width="17" height="17" transform="translate(392 131)" fill="#fff"/>
                        <g id="Group_147" data-name="Group 147" transform="translate(394.915 133.66)">
                          <path id="Path_126" data-name="Path 126" d="M12937.058,930.461v11.856" transform="translate(-12931.13 -930.461)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                          <path id="Path_127" data-name="Path 127" d="M0,0V11.856" transform="translate(11.856 5.928) rotate(90)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                        </g>
                      </g>
                    </svg>
                  </span>
              </button>
          </dt>
          <dd class="badger-accordion__panel js-badger-accordion-panel">
              <div class="js-badger-accordion-panel-inner">
                  <p>View our <a target="_blank" rel=”noopener noreferrer” href="/pages/delivery">shipping & returns policy</a></p>
              </div>
          </dd>
          <dt>
            <button class="js-badger-accordion-header">
                Ingredients
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                    <g id="Group_233" data-name="Group 233" transform="translate(-392 -131)">
                      <rect id="Rectangle_213" data-name="Rectangle 213" width="17" height="17" transform="translate(392 131)" fill="#fff"/>
                      <g id="Group_147" data-name="Group 147" transform="translate(394.915 133.66)">
                        <path id="Path_126" data-name="Path 126" d="M12937.058,930.461v11.856" transform="translate(-12931.13 -930.461)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                        <path id="Path_127" data-name="Path 127" d="M0,0V11.856" transform="translate(11.856 5.928) rotate(90)" fill="none" stroke="#043f4d" stroke-linecap="round" stroke-width="1"/>
                      </g>
                    </g>
                  </svg>
                </span>
            </button>
          </dt>
          <dd class="badger-accordion__panel js-badger-accordion-panel">
              <div class="js-badger-accordion-panel-inner">
                  {{ product.metafields.my_fields.ingredients.value }}
              </div>
          </dd>
        
        </dl>
      </div>
    </div>

  </div>

</section>



{% comment %} <section class="fd-product__bundle">
  <h3>PRODUCTS IN THIS BUNDLE</h3>
  <div class="fd-content-block fd-container-width fd-product__bundle-inner">
    {% assign bundle = product.metafields.accentuate.single_product | split: '|' %}

    {% for single_product in bundle %} 

      {% assign ref_product =  all_products[single_product] %}

      {%- render 'product-item-bundle', product: ref_product -%}
    {% endfor %}  
  </div> 
</section> {% endcomment %}

<div class="fd-product__reviews fd-content-block-product fd-container-width">
  {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  {% comment %}End automatically added Judge.me widget{% endcomment %}
</div>


<script>

  var HowToUrl = {{ product.metafields.foundry.video_url.value | json }}
  var frame = document.getElementById('videoFrame')
  function convert_youtube(input) {
    var pattern = /(?:http?s?:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?(\S+)/g;
    if (pattern.test(input)) {
      var replacement = '<iframe style="pointer-events:none; position:absolute; top:0; left:0; width:100%; height:100%; " width="100%" height="100%" src="http://www.youtube.com/embed/$1?autoplay=1&mute=1&enablejsapi=1&loop=1&playlist=$1&controls=0" frameborder="0" ></iframe>';
      var input = input.replace(pattern, replacement);
  
    }
    return input;
  } 

   //function convert_vimeo(input) {
   //  var pattern = /(?:http?s?:\/\/)?(?:www\.)?(?:vimeo\.com)\/?(\S+)/g;
   //  if (pattern.test(input)) {
   //  var replacement = '<iframe width="420" height="345" src="//player.vimeo.com/video/$1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
   //  var input = input.replace(pattern, replacement);
   //  }
   //  return input;
   //}

  const embed = convert_youtube(HowToUrl)

  frame.innerHTML = embed

</script>


{% schema %}
  {
    "name": "Product page",
    "class": "shopify-section--bordered",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "description_below_add_to_cart",
        "label": "Description below add to cart",
        "default": false
      },
      {
        "type": "select",
        "id": "selector_mode",
        "label": "Selector type",
        "options": [
          {
            "value": "block",
            "label": "Block"
          },
          {
            "value": "dropdown",
            "label": "Dropdown"
          }
        ],
        "default": "dropdown"
      },
      {
        "type": "checkbox",
        "id": "show_color_swatch",
        "label": "Show color swatch",
        "default": false,
        "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch)."
      },
      {
        "type": "checkbox",
        "id": "show_color_carousel",
        "label": "Show color carousel",
        "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_inventory_quantity",
        "label": "Show inventory quantity",
        "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
        "default": false
      },
      {
        "type": "range",
        "id": "inventory_quantity_threshold",
        "label": "Inventory quantity threshold",
        "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "show_price_in_button",
        "label": "Show price in add to cart button",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "fill",
            "label": "Fill screen"
          }
        ],
        "default": "large"
      },
      {
        "type": "checkbox",
        "id": "stack_images",
        "label": "Stack images on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "Show thumbnails on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_image_zoom",
        "label": "Enable zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      },
      {
        "type": "header",
        "content": "Tabs"
      },
      {
        "type": "page",
        "id": "tab_page_1_handle",
        "label": "First page"
      },
      {
        "type": "page",
        "id": "tab_page_2_handle",
        "label": "Second page"
      },
      {
        "type": "paragraph",
        "content": "The theme also allows you to add specific tabs for a given product only. [Learn more about this feature](http://support.maestrooo.com/article/83-product-adding-different-tabs-per-product)."
      },
      {
        "type": "header",
        "content": "Reviews"
      },
      {
        "type": "paragraph",
        "content": "You need to install [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling this option."
      },
      {
        "type": "checkbox",
        "id": "reviews_enabled",
        "label": "Enable",
        "default": false
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "paragraph",
        "content": "You can highlight an image after product tabs by adding the ALT tag \"featured\" to a given image. [Learn more](http://support.maestrooo.com/article/152-product-highlight-a-featured-image)."
      },
      {
        "type": "select",
        "id": "featured_image_size",
        "label": "Section size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ]
  }
{% endschema %}

<style>
  @media (min-width: 1008px) {

  #desktopWid {
  display: block;
  width: 75% !important;
  }
  #mobileWid {
  display: none;
  }
  }

   @media (max-width: 1006px) {
  #mobileWid {
  display: block;
  }
  #desktopWid {
  display: none;
  }
  }
</style>